<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link rel="icon" href="/favico.png">
</head>
<body>
    <div id="home" class="navbar">
        <img src="images/aaron-burden-QJDzYT_K8Xg-unsplash.jpg" alt="Home page image" height="650vh" width="100%">
        <div class="container">
            <img src="images/logo1.png" alt="">
       <div class="links">
        <a href="index">Home</a>
        <a href="about_us">About Us</a>
        <a href="courses">Courses</a>
        <a href="contributors">Contributors</a>
        <a href="donate_us">Donate Us</a>
       </div>
       <a id="btn" href="account">Sign In/ Sign Up</a>
        </div>

       <div class="content">
        <h1>Learn In Demand Skills Absolutely Free
            With Project Experience<h1>
        </div>

    </div>

    

<footer>
    <div class="logo">
        <img src="images/logo1.png" alt="">
    </div>
    <div class="icons">
        <p class="paragraph backtotop"><a href="#home">Back To Top</a></p>
        <p>
        <a href=""><i class="fab fa-facebook"></i></a>
        <a href=""><i class="fab fa-twitter-square"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
    </p>
    <p class="backtotop">@copywright scratchtoexpert.com</p>
    </div>
    <div class="query">
        <h1>Any Query?<br>Post it right now</h1>
        <form>
            <br><input type="email" name="email" id="email" placeholder="Email">
            <br><textarea name="query" id="query" cols="48" rows="3">Enter Query</textarea>
            <br><input type="submit" class="submit" value="Submit">
        </form>

    </div>
</footer>

</body>
</html>